.reviewsText{
    display: flex;
    justify-content: space-between;
}
.reviewslist{
    display: flex;
    justify-content: space-between;
    border-radius: 37px;
    background: #F3F3F3;
    width: 600px    ;
    padding: 10px;
    margin-top: 12px;


}